@model List<HelloMVC.Models.Vehicle>
@{
    ViewBag.Title = "Index";
    var value = 1000;
}

@{
    value += 1;
}

@{
    var name = "Bob";
    var day = DateTime.Now.DayOfWeek.ToString();

    <p>Howdy, @name. Today is @day.</p>
    <p>Howdy, @name. Aren't @(day)s the best?</p>
}

@{
    var productId = 123;
    <p>Product ID: ACME@(productId)</p>
}

<p>Value: @value.ToString("C")</p>

<h3>This is a list of all the vehicles I have owned.</h3>

@foreach (var vehicle in Model)
{
    <p>@vehicle.Id - @vehicle.Make - @vehicle.Model - @vehicle.Year</p>
}

@*
    @helper  pluralizeChildren(int childCount) {
        @(childCount == 1 ? "child" : "children");
    }

    @{
        var childCount = 2;
        <p>I have @childCount  @pluralizeChildren(@childCount).</p>
    }

    @helper pluralize(int amount, string singular, string plural){
        @(amount == 1 ? singular : plural)
    }
*@
@{
    var crisesCount = 2;
}

@* This is a comment*@

<p>
    Mr. President, there
    @if (crisesCount == 1)
    {
        <span>is one crisis</span>
    }
    else
    {
        <span>are @crisesCount crises</span>
    }
    you must deal with immediately!
</p>

<p>
    @{ 
        var test = false;
        if (!test)
        {
            @:Display This

            <span>Now is the time for all good men to com eto the aid of their country.</span>
        }
    }
</p>

@for (int i = 0; i < 10; i++)
{
    <p>@i</p>
}

<p>bob@learnviesualstudio.net</p>
<p>@@bobtabor</p>